# Bike Sharing Demand

이번에는 워싱턴 DC의 Capital Bikeshare 프로그램에서 과거 사용 패턴과 날씨 데이터 등을 활용하여 자전거 대여 수요를 예측해보도록 하겠습니다.

캐글 : https://www.kaggle.com/c/bike-sharing-demand

아래 링크의 데이터 중에서 train 데이터를 다운받아서 파일이름을 b_train으로 바꾸고 주피터노트북의 data 폴더 안에 넣습니다.(과제 1 Titanic의 train데이터와 파일 이름이 겹치기 때문입니다.)

https://www.kaggle.com/c/bike-sharing-demand/data

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('C:/Users/jdww2/Desktop/pandas/모듬파일 3/train.csv')

In [3]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

## 컬럼 설명
  - datetime - 시간
  - season - 1 = 봄, 2 = 여름, 3 = 가을, 4 = 겨울
  - holiday - 휴일 여부, 0 = 휴일이 아닌 날, 1 = 휴일
  - workingday - 근무일 여부, 0 = 근무일이 아닌 날, 1 = 근무일
  - weather - 1 : 맑음, 구름 조금, 흐림, 2 : 안개 + 흐림, 안개 + 깨진 구름, 안개 + 구름이 거의 없음, 안개, 3 : 가벼운 눈, 가벼운 비 + 뇌우 + 흩어진 구름, 가벼운 비 + 흩어진 구름, 4 : 폭우 + 얼음 팔레트 + 뇌우 + 안개, 눈 + 안개 
  - temp - 섭씨 온도
  - atemp - 체감 온도
  - humidity - 습도
  - windspeed - 풍속
  - casual - 비회원의 자전거 대여수
  - registered - 회원의 자전거 대여수
  - count - 전체 자전거 대여수 (casual+registered)

### 1. 데이터 분석을 위해 우선 각 컬럼의 데이터가 범주형 데이터인지, 수치형 데이터인지를 적어주세요~ 
- datetime : 범주
- season : 범주 
- holiday : 범주
- workingday : 범주
- weather : 범주
- temp : 수치
- atemp : 수치
- humidity : 수치
- windspeed : 수치

### 2.	train 데이터를 info() 함수를 살펴보겠습니다. 각 컬럼의 데이터 형태는 무엇인지, 각 컬럼의 데이터 개수는 몇 개인지, null값이 존재하는지 확인해주세요.

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

### 3. 수치형 데이터의 평균값, 중앙값, 표준편차를 확인하겠습니다.

In [7]:
train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

### 4. 현재 Datetime 컬럼은 현재 문자 타입입니다. 날짜 타입으로 바꿔주세요.

In [8]:
train['datetime'] = pd.to_datetime(train['datetime'])

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

### 5.	5개의 컬럼을 생성해서 년, 월, 일, 시, 요일 데이터를 각각 넣도록 하겠습니다.

In [9]:
train['년'] = train['datetime'].dt.year
train['월'] = train['datetime'].dt.month
train['일'] = train['datetime'].dt.day
train['시'] = train['datetime'].dt.hour
train['요일'] = train['datetime'].dt.dayofweek

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour,day-of-week
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,5

In [10]:
%matplotlib inline

import seaborn as sns

import matplotlib.pyplot as plt

# plt.rcParams['font.family'] = 'NanumGothic'

plt.rcParams['figure.figsize'] = (18, 8)

import warnings 
warnings.filterwarnings('ignore')

이번 프로젝트의 미션은 여러분 스스로 판다스와 시각화 기능을 활용하여 가설을 검증합니다.

다음 주어진 4개의 가설의 검증해주세요

### 6. 가설 1] 24시간 중에 자전거 대여량이 많은 시간대가 존재한다.

In [ ]:
sns.barplot(data = train, x = '시', y = 'count')

In [ ]:
sns.pointplot(data = train, x = '시', y = 'count', hue = 'workingday')

In [ ]:
sns.pointplot(data = train, x = '시', y = 'count', hue = 'holiday')

- 24시간 중 대여량이 가장 많은 시간은 오전에는 8시 오후에는 17-18시가 많다.
- 근무일을 기준으로 한 데이터와 대여량이 많은 시간대가 일치함을 볼 수 있다.

### 7. 가설 2] 주말과 공휴일의 자전거 대여량과 평일, 비공휴일의 자전거 대여량이 다르다.

### 8. 가설 3] 자전거를 타기 좋은 월(3~10월)의 자전거 대여량이 많을 것이다.

In [ ]:
sns.barplot(data = train, x = '월', y = 'count')

In [ ]:
train['년월'] = train['년'].astype('str')+'-'+train['월'].astype('str')
train['년월']

In [ ]:
sns.pointplot(data = train, x = '년월', y= 'count')

- 11년에 비해 12년의 자전거 이용객이 상승했지만, 3월의 이용객이 11/12월의 이용객보다 적다는 것을 알 수 있다.

### 9. 가설 4] 온도, 체감온도, 습도, 풍속 등을 포함한 날씨 데이터는 자전거 대여량에 많은 영향을 끼칠 것이다.